.footer{
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.footer-logo{
  background: #393E46;
  color: white;
  font: 10px Arial;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 70px;
  height: 4px;
  padding: 15px;
}
.footer-list ul {
  font-size: 10px;
  font-family: Arial;
  list-style: none;
  display: flex;
  gap: 50px;
}
.content {
  margin-top: 10px;
}
img {
  width: 100%;
}